div input {
  display: none;
}
div label {
  position: relative;
  display: block;
  width: 80px;
  height:35px;
  background: #555;
  border-radius: 20px;
  cursor: pointer;
}
div label:before {
  content: "Ar";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  background: #eee;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div input:checked + label {
  background: #00acee;
}
div input:checked + label::before {
  content: "En";
  color: white;
  left: 55px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
